[Unit]
Description=HomeAutomation


[Service]
User=root
Type=simple
TimeoutSec=0
#Restart=on-failure
#RestartPreventExitStatus=1
#PrivateTmp=false
#PIDFile=/var/run/php_app_sync.pid

WorkingDirectory=/var/www/html/PiRelais/HomeAutomation
ExecStart=/bin/sh -c '/usr/bin/php -f /var/www/html/PiRelais/HomeAutomation/HomeAutomation.php'
KillMode=control-group
#ExecStop=

Restart=on-failure

[Install]
WantedBy=multi-user.target
Requires=network-online.target
